@model AlimentandoEsperanzas.Models.User

<div class="modal" id="detailModal-@Model.UserId" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Detalle de Categoría</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <hr />
                    <div class="form-group" style="text-align: left">
                        <dl class="row">
                            <div class="col">

                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                                <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                                <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.IdNumber)
                            </dt>
                                <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IdNumber)
                            </dd>

                            </div>
                            <div class="col">

                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.IdentificationTypeNavigation)
                            </dt>
                                <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IdentificationTypeNavigation.Description)
                            </dd>
                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </dt>
                                <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </dd>
                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.Date)
                            </dt>
                                <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Date)
                            </dd>
                                <dt class="col-sm-10">
                                @Html.DisplayNameFor(model => model.RoleNavigation)
                            </dt>
                                <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.RoleNavigation.Role1)
                            </dd>

                            </div>

                        </dl>
                    </div>
                    <br />
                    <div class="form-group" style="text-align: center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Volver a la lista</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>