@using System.Globalization
@model IEnumerable<AlimentandoEsperanzas.Models.Donation>
@{
    ViewData["Title"] = "Home Page";
}

<div class="lime-container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="display-4 text-center">¡Bienvenido!</h1>
                    <p class="lead text-center">Aquí encontrarás todas las herramientas necesarias para administrar y coordinar las donaciones de manera eficiente. Juntos, podemos hacer posible un impacto real en las vidas de quienes más lo necesitan..</p>
                    <div class="text-center">
                        <a asp-controller="Donations" asp-action="Index" class="btn btn-primary">Donaciones</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Donaciones</h2>
                    <div class="row">
                        <div class="col-md-24">
                            <canvas id="donationChart" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Donantes</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="donorChart" width="800" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div>
                <div class="container text-center">
                    <div class="row">

                        <div class="col">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h2 class="card-title text-center">Total @ViewBag.CurrentMonth</h2>
                                    <h1 class="text-center">₡@ViewBag.donationDataLastMonth</h1>
                                    <br />
                                    <br />
                                    <h2 class="card-title text-center">Donadores Registrados</h2>
                                    <h1 class="text-center">@ViewBag.TotalDonors</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>



            @* <div class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title text-center">Total @ViewBag.CurrentMonth</h2>
                    <h1 class="text-center">₡@ViewBag.donationDataLastMonth</h1>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title text-center">Donaciones Registradas</h2>
                    <h1 class="text-center">@ViewBag.TotalDonations</h1>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title text-center">Donadores Registrados</h2>
                    <h1 class="text-center">@ViewBag.TotalDonors</h1>
                </div>
            </div> *@

            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var donationData = {
        labels: @Html.Raw(Json.Serialize(ViewBag.DonationLabels)),
        datasets: [{
            label: 'Monto de Donaciones',
            data: @Html.Raw(Json.Serialize(ViewBag.DonationAmounts)),
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    };

    var donationChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    var donationCtx = document.getElementById('donationChart').getContext('2d');

    var myDonationChart = new Chart(donationCtx, {
        type: 'bar',
        data: donationData,
        options: donationChartOptions
    });

    var donorData = {
        labels: @Html.Raw(Json.Serialize(ViewBag.DonorLabels)),
        datasets: [{
            label: 'Cantidad de Donantes',
            data: @Html.Raw(Json.Serialize(ViewBag.DonorCounts)),
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }]
    };

    var donorChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    var donorCtx = document.getElementById('donorChart').getContext('2d');

    var myDonorChart = new Chart(donorCtx, {
        type: 'line',
        data: donorData,
        options: donorChartOptions
    });
</script>


