@model AlimentandoEsperanzas.Models.Donor

@{
    ViewData["Title"] = "Detalle";
}

<div class="lime-container">
    <h1 class="text-center mb-4">Detalle del Donador</h1>
    <div class="card">
        <div class="card-body">
            <div>
                <h4>Donador</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdentificationTypeNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdentificationTypeNavigation.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Comments)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Comments)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="DonorId" />
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>